##disable_html_escaping() TODO REENABLE
$!{auiparams.put("controlHeaderClass", "aui-field-something")}
#customControlHeader ($action $customField.id $i18n.getText($customField.nameKey) $fieldLayoutItem.required $displayParameters $auiparams)
<div class="ajax_autocomplete" id="${customField.id}_container">
    <select class="aui-field-issuepicker hidden" name="$customField.id" id="$customField.id">
                data-popup-link-message="[Select Issue]"
                data-popup-width="620"
                data-popup-height="500"
                data-remove-on-un-select="true"
                data-ajax-options.query="true"
                data-ajax-options.url="${req.contextPath}/rest/api/1.0/issues/picker"
                data-ajax-options.data.current-issue-key="$!issue.key"
                data-ajax-options.data.show-sub-tasks="true"
                data-ajax-options.data.show-sub-task-parent="true"
                data-ajax-options.data.current-project-id="">
            #if($value)
                <option selected="selected" value="$textutils.htmlEncode($!value)">$textutils.htmlEncode($!value)</option>
            #end
        </select>
    <div class="description">$i18n.getText("linkissue.sf.picker.desc")</div>
</div>
#customControlFooter ($action $field.id $fieldLayoutItem.getFieldDescription() $displayParameters $auiparams)
$!{auiparams.clear()} 